html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-top: 65px;
  min-height: 200vh;
}

.carousel-container :nth-child(2) {
  margin-top: 1px;
}

body::-webkit-scrollbar {
  width: 0; /* remove scrollbar width */
  height: 0;
}
